@charset "utf-8";

/* ベース
---------------------------*/

body {
    color: #6f6f6f;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
    letter-spacing: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


/* レイアウト
---------------------------*/
.l-inner {
    width: 88%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.l-mb4 {
    margin-bottom: 40px;
}

.l-mb7 {
    margin-bottom: 70px;
}

.l-p6 {
    padding: 60px;
}

.l-py8 {
    padding: 80px 0;
}

/* flexbox*/
.l-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.l-direction-reverse {
    flex-direction: row-reverse;
}

.l-col2 {
    width: 46%;
}

.l-col3 {
    width: 30%;
}

.l-max-width {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* color */

.l-bg-blue {
    background-color: #123D88;
    color: #fff;
}

.l-gb-sky {
    background-color: #F7FAFF;
}

.l-bg-gray {
    background-color: #505050;
    color: #fff;
}

.l-bg-gray .unit-title,
.l-bg-blue .unit-title {
    color: #fff;
}

/* text */
.l-text-center {
    text-align: center;
}

.l-text-center .btn,
.l-text-center .card-icon {
    margin-left: auto;
    margin-right: auto;
}

.l-text-space {
    padding-bottom: 40px;
}

/* header */
.l-header {
    padding: 30px 0;
}

/* footer */
.l-footer {
    padding: 30px 0;
    text-align: right;
    font-size: 15px;
    color: #fff;
}



/* モジュール
---------------------------*/

/* unit */
.unit-catch {
    margin-bottom: 20px;
    color: #256BE6;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /*大文字にする*/
}

.unit-title {
    margin-bottom: 30px;
    color: #262934;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3;

}

/* card */
.card-icon {
    margin-bottom: 40px;
}

.card-title {
    margin-bottom: 20px;
    color: #2F2F35;
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
}

.card-space {
    padding: 40px;
    background-color: #fff;
}

.card .btn {
    margin-top: 40px;
}

.card-border {
    border: 1px solid #6C6C6F;
}

.card-height {
    height: 240px;
}

/* btn */
.btn {
    display: block;
    width: 200px;
    margin-top: 60px;
    padding: 20px;
    background-color: #256BE6;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.025em;
    border-radius: 30px;
}

.btn-info {
    background-color: #2dbe61;
    ;
}

.btn-outline {
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-orange {
    background-color: #F87624;
    color: #fff;
}