@charset "utf-8";

/* ベース
---------------------------*/

body {
    color: #6f6f6f;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
    letter-spacing: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


/* レイアウト
---------------------------*/
.l-innner {
    width: 88%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.l-header {}

/* footer */
.l-footer {}



/* モジュール
---------------------------*/

/* unit */

/* card */

/* btn */